ul {
  margin: 0;
  padding: 0; }

html {
  font-family: Arial, sans-serif; }

p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.2em; }

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px; }

input[type=radio] {
  display: none; }

#myMenu {
  position: fixed;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 100;
  list-style: none;
  text-align: left;
  height: 100%;
  background-color: #222424;
  transition: all .2s ease-out; }
  #myMenu:hover {
    width: 205px;
    transition: all .2s ease-out; }
  #myMenu:hover .menu-title {
    display: table-cell;
    vertical-align: middle; }
  #myMenu li {
    border-top: 1px solid #434343;
    border-bottom: 1px solid #434343;
    position: relative; }
  #myMenu .menu-logo {
    margin: 3px 3px 17px 0;
    text-align: right; }
  #myMenu a {
    display: table;
    text-decoration: none;
    margin-left: 15px;
    height: 42px;
    vertical-align: middle;
    color: #656565; }
  #myMenu .active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff; }
    #myMenu .active a {
      color: #b2b2b2; }
  #myMenu .menu-title {
    display: none;
    transition: all .5s ease-out; }
  #myMenu .menu-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -10px;
    width: 21px;
    height: 20px;
    text-align: center; }
  #myMenu .menu-icon-1,
  #myMenu .menu-icon-2,
  #myMenu .menu-icon-3,
  #myMenu .menu-icon-4 {
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #myMenu .menu-icon-1 {
    background-image: url("../../img/menu-icon-1.png"); }
  #myMenu .menu-icon-2 {
    background-image: url("../../img/menu-icon-2.png"); }
  #myMenu .menu-icon-3 {
    background-image: url("../../img/menu-icon-3.png"); }
  #myMenu .menu-icon-4 {
    background-image: url("../../img/menu-icon-4.png"); }
  #myMenu.menu-open {
    width: 205px; }
  #myMenu.menu-open .menu-title {
    display: table-cell;
    vertical-align: middle; }

.section {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition-timing-function: cubic-bezier(0.14, 1.15, 0.94, 0.65); }

.step {
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
  height: 61px; }
  .step-button {
    width: 80px;
    height: 61px;
    margin: 0 auto;
    padding-top: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer; }
    .step-button_name {
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #fff; }
  .step-orange {
    background-image: url("../img/step.png"); }
  .step-darkblue {
    background-image: url("../img/step-2.png"); }

#section1 {
  background-image: url("../img/slide-1.jpg"); }

#section2 {
  background-color: #f6652e; }
  #section2 label {
    margin-right: 95px; }
  #section2 label:last-child {
    margin: 0; }

.slide-icon-2 {
  position: absolute;
  top: 16%;
  left: 50%;
  margin-left: -298px; }

.slide-title-scenario {
  position: relative;
  top: 43%; }

#section3 {
  background-image: url("../img/slide-3.jpg"); }

#section4 {
  background-image: url("../img/slide-4.jpg"); }

.section_wrap {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  outline: 1px solid #000; }

.radio {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -283px; }

.slide-title {
  font: bold 60px/1.2 "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center; }

label {
  display: inline-block;
  cursor: pointer;
  font: 600 18px/1.2 "Open Sans", sans-serif;
  vertical-align: middle;
  color: #fff;
  padding: 0; }

input[type=radio] {
  display: none; }

label::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 47px;
  height: 42px;
  margin-right: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(68, 32, 4, 0.15);
  vertical-align: middle;
  border-radius: 42%; }

input[type=radio]:checked + label:after {
  content: "";
  width: 27px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000;
  background: url("../../img/check.png") no-repeat 50% 50%; }
