html {
  font-family: Arial, sans-serif; }

ul {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.2em; }

#myMenu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  list-style: none;
  text-align: right;
  height: 100%;
  background-color: #222424; }
  #myMenu a {
    display: block;
    text-decoration: none;
    margin: 10px 0;
    padding: 15px;
    color: #656565; }
  #myMenu .active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff; }
    #myMenu .active a {
      color: #fff; }

.section {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition-timing-function: cubic-bezier(0.14, 1.15, 0.94, 0.65); }

.step {
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
  height: 61px; }
  .step-button {
    width: 80px;
    height: 61px;
    margin: 0 auto;
    padding-top: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer; }
    .step-button_name {
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #fff; }
  .step-orange {
    background-image: url("../img/step.png"); }
  .step-darkblue {
    background-image: url("../img/step-2.png"); }

#section1 {
  background-image: url("../img/slide-1.jpg"); }

#section2 {
  background-image: url("../img/slide-2.jpg"); }

#section3 {
  background-image: url("../img/slide-3.jpg"); }
