$color-lite-gray: #434343;

$font-text: 'Open Sans', sans-serif;

ul {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
}

p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.2em;
}