.c-arrow-down {
  width: 80px;
  height: 61px;
  //background: url('../img/icon-arrow-down.svg') 0 0 no-repeat;
  //background: url('../img/icon-5.png') 0 0 no-repeat;
  //margin-left: auto;
  //margin-right: auto;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -40px;
}