#section0 {
  background: url($img-dir + 'slide-bg-3.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size:  cover;
}

#section1 {
  background: url($img-dir + 'slide-bg-4.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size:  cover;
}

#section2 {
  background: url($img-dir + 'slide-bg-chronometry.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size:  cover;
}

#section3 {
  background: url($img-dir + 'slide-6.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#section4 {
  background: url($img-dir + 'slide-bg-incidental.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#section5 {
  background: url($img-dir + 'slide-8.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#section6 {
  background: url($img-dir + 'slide-9.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#section7 {
  background: url($img-dir + 'slide-10.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#section8 {
  background: url($img-dir + 'slide-11.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}


//section_title
.section_title,
.section_subtitle {

  color: #FFF;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
  text-shadow: 0.5px 0.9px 3px rgba(68, 32, 4, 0.25);
  position: relative;
  z-index: 999;
}

.section_title {
  font-size: 3.75em;
}

.section_subtitle {
  font-size: 1.185em;
}

.section_small-title {
  font-size: 18px;
  color: #FFF;
  font-weight: 600;
  position: relative;
  z-index: 999;
  margin-bottom: 16px;
}

.section_img {
  text-align: center;
  position: relative;
  z-index: 10;
}
//slide-view
.slide-view {

  .grid_column {
    width: 50%;
    //outline: 1px solid #ccc;
  }
}

//slide-headphones
.slide-headphones {
  .grid_column {
    width: 50%;

    &:first-child {
      text-align: center;
    }
  }
}

//slide-chronometry
.slide-chronometry {
  position: relative;

  .grid {
    padding: 0 80px;
    text-align: justify;

    &::after {
      content: '';
      width: 100%;
      display: inline-block;
      font-size: 0;
    }
  }

  .grid_column {
    width: auto;
  }

  .section_title {
    position: absolute;
    top: 3.2em;
    left: 50%;
    transform: translateX(-50%);
  }

  input[type=text] {
    width: 120px;
    font-weight: 700;
  }
}

//slide-incidental
.slide-incidental {
  //position: relative;

  .section_title {
    font-size: 3.125em;
  }

  .section_img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .grid,
  .grid_column {
    text-align: left;
  }

  .grid--full .grid_column {
    width: 100%;
  }
  .grid_column {
    width: 33%;
  }
}